[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
dj-database-url = "*"
django-polymorphic = "*"
django-username-email = "*"
djangorestframework = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
django-mako-plus = "*"
requests = "*"
stripe = "*"
simplejson = "*"
ldap3 = "*"


[requires]

python_version = "3.6"
