#catalog_list, #catalog {
   list-style-type: none;
   font-size: 1.5em;
}
.active  {
  color: #B4B94E;
  font-weight: 800;
}
#catalog_list a:hover {
   text-decoration: none;
   font-weight: 900;
   color: black;
}
.last_five_thumbnail {
   display: flex;
   float: none;
   border: 1px solid  #a8aeb7;
   border-radius: 8px;
   width: 80px;
   height: 80px;
   margin: 1em 1em 0 3em;

}
ol {
   list-style: none;
}
