#catalog_list, #catalog {
   list-style-type: none;
   font-size: 1.5em;
}
.active  {
  color: #B4B94E;
  font-weight: 800;
}
#catalog_list a:hover {
   text-decoration: none;
   font-weight: 900;
   color: black;
}
