html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
h1 {
   font-family: 'Krona One', sans-serif;
}
p {
   font-size: 1.3em;
}

header {
  background-color: #283654;
  margin: 0 0 3px 0;
}
nav, .navbar, .navbar-primary {
  margin: 0;
  padding: 5px;
}
/* header:hover {
background-color: inherit;
background-position: 0 0;
} */
header h1 {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}

nav li a {
  color: white;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  position: relative;
}

.active a {
  color: #00ADEE;
  font-weight: 800;
}
.row div, .row
{
  margin: 0;
  padding: 0;
}

footer p {
  position: relative;
  top: 80px;
  left: 10px;
  color: black;
  width: 100px;
}
#cart_icon {
  background-color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  color: black;
  text-align: center;
  right: 300px;
  border-radius: 5px;
  top: 10px;
  font-size: 25px;

}
#cart_icon:hover {
  text-decoration: none;
  border: solid #00ADEE 2px;
}
