h1 {
   font-weight: 900 !important;
   margin-left: 30px;
}

.question, .answer {
   border: 2px solid #B24B59;
   text-align: center;
   height: 80px;
}
.question {
   width: 450px;
}
.answer {
   width: 647px;
}

span {
  display: inline-block;
  vertical-align: middle;
}
#faq_wrapper {
   margin-left: 15px;
}
