<%inherit file="/homepage/templates/app_base.htm" />

<%block name="middle_content">

<br />
<a href="/manager/create/">
   <button class="btn-danger" type="button">Create Product</button>
</a>
<br /><br />
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Product Type</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      % for product in activeProducts:
    <tr>
      <td>${ product.Category.Name }</td>
      <td>${ product.__class__.__name__[0:product.__class__.__name__.find('Product')]}</td>
      <td>${ product.Name }</td>
      <td>$ ${ product.Price }</td>

      % if hasattr(product, 'Quantity'):
      <td>${ product.Quantity }</td>

      % else:
         <td>1</td>

      % endif
      <td>
         <a href="/manager/create/${ product.id}" class="text-danger">Edit</a> |
         <a href="/manager/delete/${ product.id}" class="text-danger">Delete</a>
      </td>
    </tr>
      % endfor
  </tbody>
</table>

</%block>
