<%inherit file="/homepage/templates/base.htm" />

<%! from catalog import models as cmod %>
<!-- Block for the navbar links -->
<%block name="navbar_links">
<ul class="nav navbar-nav">
  <li ><a href=".." class = "${ 'active' if request.dmp.app == 'homepage' else ''}"}>Home</a></li>
  <li><a href="/about/" class = "${ 'active' if request.dmp.page == 'about' else ''}">About</a></li>
  <li><a href="/contact/" class = "${ 'active' if request.dmp.page == 'contact' else ''}">Contact</a></li>
  <li><a href="/faq/" class = "${ 'active' if request.dmp.page == 'faq' else ''}">FAQ</a></li>
  <li><a href="/terms/" class = "${ 'active' if request.dmp.page == 'terms' else ''}">Terms</a></li>
   <li><a href="/catalog/" class = "${ 'active' if request.dmp.app == 'catalog' else ''}">View Products</a></li>
</ul>
</%block>

<%block name="left_content">
<br />
<br />
<br />
<br />

<ul id="catalog_list">
   <a href="/catalog/"><li class="${ 'active' if category is None else ''}">All Products</li></a>
   % for c in cmod.Category.objects.all():
   <a href="/catalog/index/${c.id}"><li class="${ 'active' if c == category else ''}">${ c.Name }</li></a>
   % endfor
</ul>
</%block>

<%block name="right_content">
   <ol>
      %if len(request.last_five) > 5:
         %if product in request.last_five:
         <%
            listStart = 0
            listEnd = len(request.last_five) - 1
         %>
         %else:
         <%
            listStart = 1
            listEnd = len(request.last_five)
         %>
         %endif

      %else:
         %if product in request.last_five:
         <%
            listStart = 0
            listEnd = len(request.last_five) - 1
         %>
         %else:
         <%
            listStart = 0
            listEnd = len(request.last_five)
         %>
         %endif
      %endif

         %for  p in reversed(request.last_five[listStart:listEnd]):

         <a href="/catalog/detail/${ p.id }" >
            <li><img class='last_five_thumbnail' src='${ p.image_url(p.id) }' /></li>
            <p class="text-center">${ p.Name }</p>
         </a>
      %endfor
   </ol>
</%block>



   <!-- In catalog/templates/app_base.htm:
      Print off the reqest.last_five -->
