<%inherit file='app_base.htm' />
<%namespace name="fl" module="formlib.tags"/>

<%block name='middle_content'>
<h1 class='text-center'>Cart</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Extended</th>
    </tr>
  </thead>
  <tbody>
    %for line in line_items:
    <tr>
      <td>${ line.product.Name }</td>
      <td>$${ line.price }</td>
      <td>
        %if line.product.id !=75:
        ${ line.quantity }
        %endif
      </td>
      <td>$${ line.extended }</td>
      <td>
        %if line.product.id !=75:
        <a class='remove_link' href="/catalog/deactivate/${ line.id }/">Remove</a>
        %endif
      </td>
    </tr>
    %endfor
      <td><b>Total</b></td>
      <td></td>
      <td></td>
      <td><b>$${ total_price }</b></td>
      <td></td>
  </tbody>
</table>
<div>
  <!--<button class='btn btn-danger pull-right'>Buy</button>-->
<a class='btn btn-primary pull-right' href='/catalog/checkout/'>Checkout</a>


</div>
</%block>
