<%inherit file='app_base.htm' />
<%namespace name="fl" module="formlib.tags"/>

<%block name='middle_content'>
<h1 class='text-center'>${product.Name | h}</h1>
<ul id='thumbnail_div'>
   %for p in product.image_urls(product.id):
      <li><img class='thumbnail_img' src='${p}' alt='thumbnail image' /></li>
   %endfor
</ul>
<img id = 'main_img' src='${ product.image_url(product.id) }'class='float-left' alt='image of the product'/>
<p class='float-left'>${ product.Description}</p>
<div>
  <!--<button class='btn btn-danger pull-right'>Buy</button>-->
<%fl:render>
  %if product.__class__.__name__ == 'BulkProduct':
<input id = 'id_quantity' name = 'quantity' class='pull-right text-center' value='1'/>
<label class='pull-right' id="id_quantity" required >Quantity</label>
  %endif

<br /><br />
</%fl:render>




</div>
</%block>
