<div id="pagination" class="pull-right">
   <a onclick="changeFunction(-1);"><i class="fas fa-angle-double-left"></i></a>
   <p class="">Page <span id='currentPageNumber'>${ int(pageid) }</span> of ${ totalPageCount }</p>
   <a onclick="changeFunction(1);"><i class="fas fa-angle-double-right"></i></a>
</div>

<br /><br />
% for p in sixProducts:
<li class="catalog_item">
     <img class="product_img" src="${ p.image_url(p.id) }" />
     <p class="price_label">$${ p.Price }</p>
     <p class="product_name">${ p.Name }</p>
     <p class="category_name">${ p.Category.Name }</p>
</li>
% endfor
