<%inherit file="/homepage/templates/app_base.htm" />

<%block name="left_content">
<br />
<br />
<br />
<br />

<ul id="catalog_list">
   <a href="/catalog/"><li class="${ 'active' if category is None else ''}">All Products</li></a>
   % for c in categories:
   <a href="/catalog/index/${c.id}"><li class="${ 'active' if c == category else ''}">${ c.Name }</li></a>
   % endfor
</ul>
</%block>
<%block name="middle_content">
<div id='catalog_container'>

</div>
<h1 class="text-center">${ 'Products' if category is None else category.Name }</h1>
<img src="${ products[0].image_url(167) }" /> ${ products[0].Category_id}

</%block>
