<%inherit file="app_base.htm" />


<%block name="middle_content">
<h1 class="text-center">${ 'Products' if category is None else category.Name }</h1>
<div id='catalog_container'>
   <ul id='catalog'></ul>
</div>
</%block>

<%block name="search_content">
<!--
<br /><br />
<div id="search_div">
  <h3>Search Product</h3>
  <label>Category Name</label>
  <input type="text" name="category_name" id="category_name"/>
  <label>Product Name</label>
  <input type="text" name="product_name" id="product_name"/>
  <label>Max Price</label>
  <input type="text" name="price" id="price"/>
  <label>Page Number</label>
  <input type="text" name="page" id="page" value="1"/>
  <button class="btn btn-primary" onclick="search()">Search</button>
</div>
-->
</%block>
