<%inherit file="app_base.htm" />

<%block name="middle_content">
<h1>About Us</h1>

<div class="row">
    <div class="col-md-6">
        <img src="${ STATIC_URL }homepage/media/img/profile_pic.jpg" width="300px" />
    </div>

    <div class="col-md-6">
        <h2>Who we are</h2>
        <p>We are a family-owned company that sells instruments at a better price than anyone else.</p>
        <p>We rent out a variety of new and used instruments</p>

        <h2>Our history</h2>
        <p>Patrik Drean founded this company in 2017. The idea came from a project that his professor assigned him during his
            coursework. Since that time, he's had more than 1,000 customers serviced.
        </p>
    </div>
</div>

</%block>
