<%inherit file="base.htm" />

<!-- Block for the navbar links -->
<%block name="navbar_links">
<ul class="nav navbar-nav">
  % if user.has_perm('account.admin') is False:
  <li ><a href="/" class = "${ 'active' if request.dmp.app == 'homepage' else ''}"}>Home</a></li>
  <li><a href="/about/" class = "${ 'active' if request.dmp.page == 'about' else ''}">About</a></li>
  <li><a href="/contact/" class = "${ 'active' if request.dmp.page == 'contact' else ''}">Contact</a></li>
  <li><a href="/faq/" class = "${ 'active' if request.dmp.page == 'faq' else ''}">FAQ</a></li>
  <li><a href="/terms/" class = "${ 'active' if request.dmp.page == 'terms' else ''}">Terms</a></li>
  % endif
   <li><a href="/catalog/" class = "${ 'active' if request.dmp.app == 'catalog' else ''}">View Products</a></li>
   % if user.has_perm('account.admin'):
   <li><a href="/catalog/" class = "${ 'active' if request.dmp.app == 'manager' else ''}">View Products</a></li>
   % endif

</ul>
</%block>
