## this is the skeleton of all pages on in this app - it defines the basic html tags


<!DOCTYPE html>
<html>

<meta charset="UTF-8">

<head>
  <%!
          import datetime
      %>
    ##Update title
    <title>FOMO</title>

    ##Link icon
    <link rel="icon" href="${ STATIC_URL }homepage/media/img/favicon.png" />
    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    ## Load up customized bootstrap CSS & JS
    <link rel="stylesheet" style="css" href="${ STATIC_URL }homepage/media/bootstrap3/css/bootstrap.min.css" />

    <link rel="stylesheet" style="css" href="${ STATIC_URL }homepage/media/bootstrap3/css/bootstrap-theme.min.css" />

    <script src="${ STATIC_URL }homepage/media/bootstrap3/js/bootstrap.min.js"></script>

    ## render the static file links with the same name as this template
    <script src="/django_mako_plus/dmp-common.min.js"></script>
    ${ django_mako_plus.links(self) }



</head>

<body>
     <div class="col-md-12" id="maintenance-section">
       <%block name="maintenance_content"></%block>
     </div>
  <header class="btn-primary">
    <nav class="navbar navbar-primary">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="#"><img src = "${ STATIC_URL }homepage/media/img/logo28.png"  /> </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%block name="navbar_links"></%block>

            <!--Login dropdown  -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>

            <ul class="dropdown-menu">
              <li><a href="#">Login</a></li>
              <li><a href="#">Sign Up</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- <h1 >Welcome to your "One Stop Music Shop"!<h1> -->

</header>

        <main>
          <div class="row">
            <div class="col-md-12" id="top-section">
              <%block name="top_content"></%block>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2" id="left-section">
              <%block name="left_content"></%block>
            </div>
            <div class="col-md-8" id="middle-section">
              <%block name="middle_content"></%block>
            </div>
            <div class="col-md-2" id="right-section">
              <%block name="right_content"></%block>
            </div>
          </div>
        </main>
        <footer>
              <%block name="footer_content"></%block>
          <p> © ${ datetime.datetime.now().year } </p>
        </footer>
    </body>
</html>
