<%inherit file="app_base.htm" />

<%block name="top_content">
<br />
<h1>Frequently Asked Questions</h1>
<div id="faq_wrapper">

<div class="row">
  <div class="col-md-5 question">
      <h2>How do I contact you?</h2>
  </div>
  <div class="col-md-7 answer">
      <p>Click <a href="../homepage/contact">here</a></p>
  </div>
</div>
<div class="row">
  <div class="col-md-5 question">
      <h2>What time are you open?</h2>
  </div>
  <div class="col-md-7 answer">
      <p>We open promptly at 9am and are open until 5pm all days, except for Sunday</p>
  </div>
</div>
<div class="row">
  <div class="col-md-5 question">
      <h2>Do you just sell instruments?</h2>
  </div>
  <div class="col-md-7 answer">
      <p>No, we also rent them out. Click <a href="../homepage/contact">here</a> to contact us for more information </p>
  </div>
</div>
<div class="row">
  <div class="col-md-5 question">
      <h2>Lorem ipsum dolor?</h2>
  </div>
  <div class="col-md-7 answer">
      <p>Quisque varius pharetra urna, ut blandit eros mollis ultricies. Quisque varius pharetra urna, ut blandit eros mollis ultricies. Quisque varius pharetra urna, ut blandit eros mollis ultricies.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-5 question">
      <h2>Quno ipsum dolor?</h2>
  </div>
  <div class="col-md-7 answer">
      <p>Quisque varius pharetra urna, ut blandit eros mollis ultricies. Quisque varius pharetra urna, ut blandit eros mollis ultricies. Quisque varius pharetra urna, ut blandit eros mollis ultricies.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-5 question">
      <h2>Dom ipsum dolor?</h2>
  </div>
  <div class="col-md-7 answer">
      <p>Quisque varius pharetra urna, ut blandit eros mollis ultricies. Quisque varius pharetra urna, ut blandit eros mollis ultricies. Quisque varius pharetra urna, ut blandit eros mollis ultricies.</p>
  </div>
</div>

</div>

</%block>
