<%inherit file="app_base.htm" />

  <%block name="top_content">
<div class="jumbotron">
    <h1>Welcome to FOMO!</h1>
    <p class="lead">We blow our competitors out of the water</p>
    <p><i>"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself”.  - Johann Sebastian Bach</i></p>
</div>
<br />
</%block>

<%block name="middle_content">

<!-- Jumbotron for landing page -->

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <img id="LandingPageImg"src="${ STATIC_URL }homepage/media/img/Instruments.jpg" width="300px" />
    </div>
    <div class="col-md-4">
        <h4>We allow rentals of both new and used instruments.</h4>
        <h4>Contact us for a quote on any instrument.</h4>
    </div>

</div>


</%block>
