<%inherit file="app_base.htm" />

<%block name="skip_content">
   <a id="skip_tag" href = "#main_content">Skip to content</a>
</%block>
<%block name="middle_content">
<br /><br /><br /><br /><br /><br /><br /><br />
<div id="landing_div">
   <h1>“Without music,<br /><strong> life would be a mistake” </strong></h1>
   <a href="/catalog/" class="btn btn-primary">Shop Now</a>
</div>
</%block>

<%block name="footer_content">
<div id="main_content"></div>
<div class="row product_card">
   <div class = "col-md-2 product_card_header">
      <br /><br /><br />
      <h2>Instruments</h2>
      <a href="/homepage/abou" class="btn btn-primary">See more</a>
   </div>
   <div class="col-md-7 product_card_content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Click <a href ="${ STATIC_URL }homepage/about/">here</a></a> </p>
   </div>
</div>
<hr />
<div class="row product_card">
   <div class = "col-md-2 product_card_header">
      <br /><br /><br />
      <h2>Sheet Music</h2>
      <a href="/homepage/about" class="btn btn-primary">See more</a>
   </div>
   <div class="col-md-7 product_card_content">
      <p>Lorem ipsum dolor sit amet, <a href ="${ STATIC_URL }homepage/about/">consectetur adipiscing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
   </div>
</div>
<hr />
<div class="row product_card">
   <div class = "col-md-2 product_card_header">
      <br /><br /><br />
      <h2>Rentals</h2>
      <a href="/homepage/about" class="btn btn-primary">See more</a>
   </div>
   <div class="col-md-7 product_card_content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
   </div>
</div>
<hr />
</%block>
