<%inherit file="base.htm" />

<%block name="content">
</%block>
<%block name="maintenance_content">
   <p>
      An update is scheduled for tonight at 11:59pm MST
   </p>
</%block>
 <%block name="top_content">
   <h2>
      Top Section
   </h2>
 </%block>
 <%block name="left_content">
    <h2>
       Left Section
   </h2>
 </%block>
 <%block name="middle_content">
   <h2>
      Middle Section
   </h2>
 </%block>
 <%block name="right_content">
   <h2>
      Right Section
   </h2>
 </%block>
 <%block name="footer_content">
   <h2>
      Footer Section
   </h2>
 </%block>
